@font-face {
    font-family: MyFont;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Myfont;
    background-color: hsl(234, 29%, 20%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    display: flex;
    width: 800px;    
    background-color: white;
    border-radius: 30px;
    padding: 20px;
}
.left{
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.left h1{
    font-size: 50px;    
    color: hsl(234, 29%, 20%);
}
.left ul{
    list-style-image: url(./assets/images/icon-list.svg);    
    list-style-position: inside;
    
}
.left ul li{
    margin-bottom: 10px;
}
.right{
    width: 40%;
}
.right img{
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.labelText{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.red
{
    color: hsl(4, 100%, 67%);
}
label{
    margin-bottom: 10px;
    font-size: 12px;
    color: hsl(234, 29%, 20%);
    font-weight: bolder;
    
}
input{
    padding: 10px 20px;
    font-family: inherit;
    border-radius: 5px;
    outline: none;
    border: 1px solid hsl(231, 7%, 60%);
}
input.error{
    background-color: hsl(4, 100%, 95%);
    border: 1px solid hsl(4, 100%, 67%);
}
input.error::placeholder{
    color: hsl(4, 100%, 67%);
}
input:focus{
    border: 1px solid hsl(234, 29%, 20%);
}
button{
    color: white;
    font-family: inherit;
    margin-top: 20px;
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: hsl(235, 18%, 26%);
    cursor: pointer;
}
button:hover{
    background-color: hsl(4, 100%, 67%);
}



.card
{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 30px;
    padding: 40px;
    justify-content: space-between;
    gap: 15px;
}
.card h1{
    font-size:40px;
    color: hsl(234, 29%, 20%);
    font-weight: 700;
}
.card .icon-card{
    width: 50px;
}
.card p{
    font-size: 13px;
    line-height: 1.5;
    font-weight: 400;
}
.card p span{
    color: hsl(234, 29%, 20%);
    font-weight: bold;
}
.card button{
    width: 100%;
}

.hiden{
    display: none;
}

@media (max-width:768px){
    .container{
        flex-direction: column-reverse;
        width: 100%;
        height: 100vh;
        padding: 0;
        border-radius: 0;
    }
    .body{
        padding: 0;
        margin: 0;
    }
    h1{
        font-size: 30px;
    }
    .left{
        width: 100%;
    }
    .right{        
        width: 100%;
        height: 100%;
        content: url("./assets/images/illustration-sign-up-mobile.svg");
    }
    form{
        width: 90%;
    }

    .card{
        height: 100vh;
        width: 100%;
        border-radius: 0;
        justify-content:start;
    }
    .card button{
        position:absolute;
        bottom: 20px;
    }
}